<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
<!--  <ion-list>-->
<!--    <ion-item>-->
<!--      <ion-label position="floating" >Username</ion-label>-->
<!--      <ion-input></ion-input>-->
<!--    </ion-item>-->
<!--    <ion-item>-->
<!--      <ion-label position="floating">Password</ion-label>-->
<!--      <ion-input type="password"></ion-input>-->
<!--    </ion-item>-->
<!--  </ion-list>-->

  <ion-button>Log In</ion-button>
  <ion-button>Register</ion-button>
<!--  <ion-card *ngFor="let image of images">-->
<!--    <ion-card-header>-->
<!--      <ion-card-title>-->
<!--        {{image.title}}-->
<!--      </ion-card-title>-->
<!--    </ion-card-header>-->
<!--    <ion-card-content>-->
<!--      <ion-img [src]="image.image"></ion-img>-->
<!--    </ion-card-content>-->
<!--  </ion-card>-->
  <ion-list>

  </ion-list>
  <app-upload></app-upload>
</ion-content>

